<footer class="bg-dark-subtle border-top border-primary">
    <div class="container">
        <div class="row py-3">
            <div class="col-12 col-md-4 text-center text-light">
                Pague com <img src="assets/img/pagamento/Visa.png" alt="Visa">&#x200E;
                <img src="assets/img/pagamento/Mastercard.png" alt="Mastercard">&#x200E;
                <img src="assets/img/pagamento/Amex.png" alt="American Express">&#x200E;
                <img src="assets/img/pagamento/Diners.png" alt="Diners Club">&#x200E;
                <img src="assets/img/pagamento/Boleto.png" alt="Boleto">&#x200E;
                <img src="assets/img/pagamento/Pix.png" alt="Pix">&#x200E;
                <br>ENTHUSIAST - CNPJ: 00.000.000/0001-00
                <br>© Todos os direitos reservados. 2023
            </div>
            <div class="col-12 col-md-4 text-center">
                <a routerLink="" class="text-decoration-none text-light">Política de privacidade</a><br>
                <a routerLink="" class="text-decoration-none text-light">Termos de uso</a><br>
                <a routerLink="" class="text-decoration-none text-light">Quem somos</a><br>
                <a routerLink="" class="text-decoration-none text-light">Trocas e devoluções</a>
            </div>
            <div class="col-12 col-md-4 text-center">
                <a routerLink="" class="text-decoration-none text-light">Contato</a><br>
                <a href="mailto:contato@enthusiast" class="text-decoration-none text-light">E-mail: contato@enthusiast</a><br>
                <a href="tel:0000000000" class="text-decoration-none text-light">Telefone: (00) 0000-0000</a>
            </div>
        </div>
    </div>
</footer>
