<main class="flex-fill">
    <div class="container">
        <hr class="mt-5">
        <hr class="mt-3">
        <hr class="mt-3">

        <h1 class="text-light">Minha conta</h1>
        <div class="row gx-3">
            <div class="col-4">
                <div class="list-group">
                    <a routerLink="/account_data" class="list-group-item list-group-item-action">
                        <i class="bi-person fs-6"></i> Dados pessoais
                    </a>
                    <a routerLink="" class="list-group-item list-group-item-action">
                        <i class="bi-house-door fs-6"></i> Endereço
                    </a>
                    <a routerLink="" class="list-group-item list-group-item-action">
                        <i class="bi-bag fs-6"></i> Pedidos
                    </a>
                    <a routerLink="/account_password" class="list-group-item list-group-item-action">
                        <i class="bi-lock fs-6"></i> Alterar senha
                    </a>
                    <a routerLink="/account_logout" class="list-group-item list-group-item-action">
                        <i class="bi-door-open fs-6"></i> Sair
                    </a>
                </div>
            </div>
        </div>

        <hr class="mt-3">
    </div>
</main>
