<main class="flex-fill">
    <div class="container">
        <hr class="mt-5">
        <hr class="mt-3">
        <hr class="mt-3">

        <h1 class="text-light">Minha conta</h1>
        <div class="row gx-3">
            <div class="col-4">
                <div class="list-group">
                    <a routerLink="/account_data" class="list-group-item list-group-item-action">
                        <i class="bi-person fs-6"></i> Dados pessoais
                    </a>
                    <a routerLink="" class="list-group-item list-group-item-action">
                        <i class="bi-house-door fs-6"></i> Endereço
                    </a>
                    <a routerLink="" class="list-group-item list-group-item-action">
                        <i class="bi-bag fs-6"></i> Pedidos
                    </a>
                    <a routerLink="/account_password" class="list-group-item list-group-item-action bg-primary text-light">
                        <i class="bi-lock fs-6"></i> Alterar senha
                    </a>
                    <a routerLink="/account_logout" class="list-group-item list-group-item-action">
                        <i class="bi-door-open fs-6"></i> Sair
                    </a>
                </div>
            </div>
            <div class="col-8">
                <form class="col-sm-12 col-md-8 col-lg-6">
                    <div class="form-floating mb-3">
                        <input type="password" id="txtSenhaAtualAtt" class="form-control" placeholder="" autofocus autocomplete="off">
                        <label for="txtSenhaAtualAtt">Digite a senha atual</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" id="txtSenhaNovaAtt" class="form-control" placeholder="" autocomplete="off">
                        <label for="txtSenhaNovaAtt">Digite a nova senha</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="password" id="txtConfirmaSenhaNovaAtt" class="form-control" placeholder="" autocomplete="off">
                        <label for="txtConfirmaSenhaNovaAtt">Confirme a nova senha</label>
                    </div>

                    <button type="button" onclick="atualizarSenha()" class="btn btn-lg btn-primary">Alterar senha</button>
                </form>
            </div>
        </div>

        <hr class="mt-3">
    </div>
</main>
